<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/dashboard.css') }}"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="topbar space-evenly">
      <div id="topbar-left">
        <img src="/static/images/logo.png" />
        <input
          type="text"
          placeholder="Search.."
          class="search-bar grey-box vertical-center"
        />
      </div>
      <div id="topbar-right" class="space-evenly topbar-right">
        <div class="network">
          <div><img src="/static/images/network.png" height="35" /></div>
          <div class="small-font">Network</div>
        </div>
        <div class="profile-top-bar">
          <img src="/static/images/profile.png" height="35" />
          <br />
          <div class="small-font">Profile</div>
        </div>
      </div>
    </div>
    <div class="content d-flex">
      <div class="">
        <div class="profile-info">
          <img src="/static/images/profile.png" alt="" />
          <h1 class="user-name">Rubella's Dashboard</h1>
          <img src="/static/images/25complete.png" alt="" />
          <img src="/static/images/leave group.png" alt="" />
        </div>

        <a href="/explore">
          <img class="w-100" src="/static/images//Group 121.png" alt="" />
        </a>
        
        <div id="my-doctors">
          <img class="w-100" src="/static/images/My doctors.png" alt="" />
        </div>
        <div id="my-friends">
          <img class="w-100" src="/static/images/My Friends.png" alt="" />
        </div>
      </div>
      <div class="">
        <div id="my-groups">
          <img
            src="/static/images/my groupsmygroups.png"
            class="w-100"
            alt=""
          />
          <img
            class="find-groups-btn"
            src="/static/images/Find Groups btn.png"
            alt=""
          />
        </div>
        <div class="schedule">
          <img class="w-100" src="/static/images/schedule.png" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
