<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/doctor_matches.css') }}">

<body>
    <div class="topbar space-evenly">
        <div id="topbar-left">
            <img src="/static/images/logo.png">
            <input type="text" placeholder="Search.." class="grey-box">
        </div>
        <div id="topbar-right" class="space-evenly">
            <div class="network">
                <img src="/static/images/network.png">
                <br>
                <div class="small-font">Network</div>
            </div>
            <div class="profile-top-bar">
                <img src="/static/images/profile.png">
                <br>
                <div class="small-font">Profile</div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="inner-content">
            <div class="doctor_matches">
                Doctor Matches
            </div>
        </div>
    </div>
</body>
</html>