<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/landing.css') }}">

<body>

    <div class="topbar space-evenly">
        <div id="topbar-left">
            <img src="/static/images/logo.png">
            <input type="text" placeholder="Search..">
        </div>
        <div id="topbar-right">
            <img src="/static/images/network.png">
            <img src="/static/images/profile.png">
        </div>
    </div>

    <div class="content">
        <div class="inner-content space-evenly">
            <div class="profile">
                Profile
            </div>
            <div class="feed">
                feed
            </div>
            <div class="schedule">
                schedule
            </div>
        </div>
    </div>
</body>
</html>