@import "./common/index.css";
@import "./components/topbar.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e2edf3;
}

.content {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.content > :first-child {
  width: 50%;
}
.content > :nth-child(2) {
  width: 40%;
}
.profile-info {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-bottom: 20px;
}

.profile-info .user-name {
  grid-column: span 3;
  font-size: 3rem;
}
.profile-info img:not(:first-child) {
  align-self: center;
}
.profile-info img:first-child {
  justify-self: center;
  grid-row: span 2;
}
.friend img {
  height: 50px;
}

.schedule img {
  margin-top: 20px;
}

#my-groups,
#my-friends,
#my-doctors {
  background-color: rgba(255, 0, 0, 0);
  padding: 0;
  margin-top: 20px;
  position: relative;
}

.find-groups-btn {
  position: absolute;
  right: 7%;
  top: 2.5%;
  width: 20%;
}
